.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
}
.content {
  display: flex;
  max-width: 360px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.logo {
  background-image: url("~static/logo.svg");
  width: 160px;
  height: 160px;
  margin-top: 108px;
  margin-bottom: 50px;
}

.content > h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 13px;
}

.content > p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #73787c;
  margin-bottom: 50px;
}

.error {
  color: #e53935;
  margin-bottom: 24px;
}
.hide {
  display: none;
}

.passwordHint {
  height: 35px;
  width: 100%;
  margin-top: -24px;
  line-height: 34px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #666;
}

.action {
  white-space: pre;
}
.resendCode {
  font-size: 15px;
  font-weight: 500;
  margin-top: -60px;
  z-index: 2;
  cursor: pointer;
  margin-left: auto;
  margin-right: 19px;
  color: #888;
  &:hover {
    text-decoration: underline;
  }
}
