.Tag_hide_2IIkx {
  display: none !important;
}
.ChatHeader_root_3--BY {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid #dadce0;
  background: #fff;
  height: 61px;
}
.NewMessage_root_xgAdV {
  display: flex;
  width: 100%;
  height: 54px;
  border-radius: 12px;
  background: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}
.NoChat_root_x1NhR {
  display: flex;
  width: 100%;
  height: 100%;
}
.Chat_root_1IWOc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background: #e6ebee;
}

.Chat_content_27YLV {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  max-width: 633px;
}

.Chat_messages_4pKDY {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.Chat_messagesContent_1X5Df {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.LeftPanel_root_ZSIIv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 421px;
  border-right: 1px solid #dadce0;
  background: #fff;
  overflow-y: auto;
  padding: 8px;
}

.LeftPanel_item_2h5Bx {
  width: 100%;
  height: 72px;
  margin-top: 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 9px;
  overflow-x: hidden;
  cursor: pointer;
}
.LeftPanel_item_2h5Bx:hover {
  background-color: rgba(112, 117, 121, 0.08);
}

.LeftPanel_photo_3WLCT {
  height: 54px;
  width: 54px;
  border-radius: 27px;
  color: #fff;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 9px;
  overflow: hidden;
}
.LeftPanel_photo_3WLCT > img {
  max-width: 100%;
  max-height: 100%;
}

.LeftPanel_col_p6v7- {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.LeftPanel_online_32MkK {
  color: #3490ec;
}

.LeftPanel_title_3BY8K {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LeftPanel_message_70AV0 {
  font-size: 16px;
  color: #707579;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LeftPanel_time_11S5R {
  margin-left: auto;
  color: #707579;
  font-size: 12px;
  padding: 0 3px 0 1px;
  display: flex;
  flex-shrink: 0;
}

.LeftPanel_unread_Dx9_7 {
  margin-left: auto;
  background: #c4c9cc;
  color: #fff;
  min-width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
}

.LeftPanel_unread_Dx9_7.LeftPanel_active_AUQMq {
  background: #4dcd5e;
}

.LeftPanel_half_3ObbR {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  flex: 1;
}
.RightPanel_root_ykAvo {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 421px;
  border-left: 1px solid #dadce0;
  background: #fff;
}
.Main_root_2vT9G {
  display: flex;
  width: 100%;
  height: 100%;
}
.Button_root_3yhJv {
  height: 54px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px/2px;
  margin-bottom: 24px;
  outline: none;
}

.Button_primary_zYyzg {
  background: #4ea4f6;
  color: #fff;
}
.Input_root_1BiBM {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

.Input_root_1BiBM > label {
  position: absolute;
  color: #666666;
  top: 50%;
  margin-top: -11px;
  left: 16px;
  font-size: 16px;
  line-height: 21px;
  background: transparent;
  transition: all ease-out 0.2s;
  pointer-events: none;
}

.Input_withValue_3jWFm > label,
.Input_focus_2PfG5 > label,
.Input_forceFocus_2pqUq > label,
.Input_hasError_3S2n9 > label {
  pointer-events: initial;
  font-size: 12px;
  line-height: 14px;
  padding: 0 4px;
  background: #fff;
  left: 12px;
  top: 0;
  margin-top: -5px;
}

.Input_root_1BiBM > input {
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 10px;
  padding: 0 16px;
  outline: none;
  height: 54px;
  font-size: 16px;
  line-height: 21px;
  outline: none;
}

.Input_iconRight_1Mhwr {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 17px;
  pointer-events: none;
}

.Input_focus_2PfG5 > input,
.Input_forceFocus_2pqUq > input {
  border-width: 2px;
  padding: 0 15px;
  border-color: #4ea4f6;
}
.Input_focus_2PfG5 > label,
.Input_forceFocus_2pqUq > label {
  color: #4ea4f6;
}

.Input_hasError_3S2n9 > input {
  border-color: #e53935;
  caret-color: #e53935;
}
.Input_hasError_3S2n9 > label {
  color: #e53935;
  font-weight: 500;
}

label.Input_error_214aG {
  display: none;
}

.Input_hasError_3S2n9 label.Input_error_214aG {
  display: block;
}

.Input_hasError_3S2n9 label:not(.Input_error_214aG) {
  display: none;
}

.Input_input_5vxBY[type=password] {
  letter-spacing: 1px;
  font-size: 30px;
}
.CountrySelect_root_Q8cYL {
  width: 100%;
  position: relative;
}

.CountrySelect_icon_px6jp {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%234EA4F6' d='M12 14.6l6.3-6.3a1 1 0 111.4 1.4l-7 7a1 1 0 01-1.4 0l-7-7a1 1 0 011.4-1.4l6.3 6.3z'/%3E%3C/svg%3E");
}

.CountrySelect_root_Q8cYL.CountrySelect_open_1et4- > .CountrySelect_icon_px6jp,
.CountrySelect_root_Q8cYL.CountrySelect_upperSelect_1B_Jp > .CountrySelect_icon_px6jp {
  transform: rotate(180deg);
}

.CountrySelect_root_Q8cYL.CountrySelect_upperSelect_1B_Jp.CountrySelect_open_1et4- > .CountrySelect_icon_px6jp {
  transform: rotate(0deg);
}

ul.CountrySelect_list_3MFTv > li {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 56px;
  padding: 0 16px;
  padding-right: 8px;
  display: flex;
  flex-shrink: 0;
}
ul.CountrySelect_list_3MFTv > li > i {
  margin-right: 33px;
  width: 23px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}

.CountrySelect_noItems_30jg8 > ul.CountrySelect_list_3MFTv {
  display: none;
}

ul.CountrySelect_list_3MFTv > li {
  font-size: 16px;
  line-height: 21px;
  outline: none;
}
ul.CountrySelect_list_3MFTv > li > span {
  margin-left: auto;
  color: #707579;
}

ul.CountrySelect_list_3MFTv {
  position: absolute;
  z-index: 100;
  top: 100%;
  margin: 8px 0;
  margin-top: -16px;
  background: #fff;
  width: 100%;
  max-height: 376px;
  padding: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.CountrySelect_upperSelect_1B_Jp ul.CountrySelect_list_3MFTv {
  bottom: 100%;
  margin-top: 8px;
  top: auto;
  flex-direction: column-reverse;
}

ul.CountrySelect_list_3MFTv > li:hover {
  background: #f4f4f5;
}

ul.CountrySelect_list_3MFTv::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}
ul.CountrySelect_list_3MFTv:hover::-webkit-scrollbar {
  background: transparent;
  opacity: 0.99;
}
ul.CountrySelect_list_3MFTv:hover::-webkit-scrollbar-thumb {
  background: rgba(3, 46, 79, 0.22);
  border: 10px solid rgba(0, 0, 0, 0);
  /* Transparent border together with `background-clip: padding-box` does the trick */
  background-clip: padding-box;
  --webkit-border-radius: 20px;
  height: 50px;
}
ul.CountrySelect_list_3MFTv > div {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}
.SignIn_root_1d6U4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.SignIn_content_Zx6eI {
  display: flex;
  max-width: 360px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.SignIn_logo_1ttR0 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 320 320'%3E%3Cpath fill='%234EA4F6' d='M160 320a160 160 0 100-320 160 160 0 000 320z'/%3E%3Cpath fill='%23fff' stroke='%23fff' d='M237 103.4l-20.1 128a13.5 13.5 0 01-20.8 9.1l-55.4-36.7c-6.1-4-7-12.7-1.7-17.8l52.3-51c2.2-2.1-.6-5.5-3.1-3.9l-72.9 48c-7.5 5-16.9 6.2-25.4 3.4l-28.6-9.4a6.4 6.4 0 01-.7-12c20-9 55.5-24.5 88.4-38.3 16.4-6.9 32.2-13.3 45.2-18.2a189 189 0 0133-10c3.9-.8 6.6-.4 8.2 1 1.6 1.4 2.3 4 1.7 7.8z'/%3E%3C/svg%3E");
  width: 160px;
  height: 160px;
  margin-top: 108px;
  margin-bottom: 50px;
}

.SignIn_content_Zx6eI > h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 13px;
}

.SignIn_content_Zx6eI > p {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #73787c;
  margin-bottom: 50px;
}

.SignIn_error_3QxPT {
  color: #e53935;
  margin-bottom: 24px;
}

.SignIn_hide_lCwi- {
  display: none;
}

.SignIn_passwordHint_2dfHs {
  height: 35px;
  width: 100%;
  margin-top: -24px;
  line-height: 34px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #666;
}

.SignIn_action_1x1B- {
  white-space: pre;
}
.Navigator_root_2gKYb {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(src/static/fonts/Roboto_400.eot?#iefix) format("embedded-opentype"), url(src/static/fonts/Roboto_400.woff) format("woff"), url(src/static/fonts/Roboto_400.woff2) format("woff2"), url(img/Roboto_400.svg#Roboto) format("svg"), url(src/static/fonts/Roboto_400.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(src/static/fonts/Roboto_500.eot?#iefix) format("embedded-opentype"), url(src/static/fonts/Roboto_500.woff) format("woff"), url(src/static/fonts/Roboto_500.woff2) format("woff2"), url(img/Roboto_500.svg#Roboto) format("svg"), url(src/static/fonts/Roboto_500.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari, Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer, Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
}
