.root {
  display: flex;
  margin-top: 5px;

  position: relative;
  margin-right: auto;
  max-width: 100%;
  flex-shrink: 0;
  > .tail {
    display: none;
  }
  > * {
    z-index: 2;
  }
  > .wrap {
    border-radius: 12px 12px 12px 12px;
    // box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
    box-shadow: 0px 1px 2px rgba(16, 35, 47, 0.15);
  }

  align-items: center;
  justify-content: flex-start;
  // background-color: #fff;
  &.self {
    justify-content: flex-end;
    // background-color: #eeffde;
    // border-radius: 12px 12px 0 12px;
  }
}
.left:not(.last) > .wrap {
  border-top-left-radius: 6px;
}
.right:not(.last) > .wrap {
  border-top-right-radius: 6px;
}
.left:not(.first) > .wrap {
  border-bottom-left-radius: 6px;
}
.right:not(.first) > .wrap {
  border-bottom-right-radius: 6px;
}
.left.first {
  > .wrap {
    border-bottom-left-radius: 0px;
  }
  > .tail {
    display: block;
  }
}
.right.first {
  > .wrap {
    border-bottom-right-radius: 0px;
  }
  > .tail {
    display: block;
  }
}
.wrap {
  min-height: 33px;
  min-width: 33px;
  padding: 6px 10px;

  max-width: 480px;
  font-size: 15px;
  line-height: 21px;
  white-space: pre-wrap;
  background-color: #fff;
  overflow: hidden;
}
.self > .wrap {
  background-color: #eeffde;
}

.self {
  // background: ;
  margin-right: 0;
  margin-left: auto;
}

.tail {
  display: block;
  position: absolute;
  z-index: 3;
  bottom: -3px;
}
.tail.right {
  right: -10.6px;
}
.tail.left {
  left: -10px;
  bottom: -3px;
  transform: scaleX(-1);
}

.photo {
  max-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 20px);
  margin-top: -6px;
  margin-left: -10px;
  margin-bottom: -12px;
  margin-right: -10px;
  overflow: hidden;
  > img {
    transition: all 0.4s ease-out;
    width: 100%;
    height: auto;
  }
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.text {
  padding: 0;
  > a {
    color: #3390ec;
    text-decoration: none;
    &:hover {
      color: #3390ec;
      text-decoration: underline;
    }
  }
}

.title {
  font-size: 14px;
  font-weight: 500;
  color: #3692ed;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.noText {
  .tail {
    display: none !important;
  }
  .wrap {
    // background: transparent;
    border-radius: 12px 12px 12px 12px !important;
  }
}

.text {
  > pre {
    color: #1a548e;
    font-size: 13px;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    font-family: Roboto Mono;
    word-break: break-word;
    white-space: pre-wrap;
  }
  > b {
    font-weight: 500;
  }
}

.ava {
  display: none;
  width: 33px;
  color: #fff;
  font-size: 13px;
  height: 33px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  margin-right: 5px;
  margin-top: auto;
}
.withAva .ava {
  display: flex;
}
.withAva .tail {
  margin-left: 38px;
}

.reply {
  border-left: 2px solid #1da1f1;
  padding: 0 8px;
  margin-bottom: 7px;
  margin-top: 3px;
  display: flex;
  flex-wrap: wrap;
  > .title {
    font-size: 14px;
    line-height: 18px;
    margin-top: -4px;
    margin-bottom: 4px;
  }
  > .text {
    font-size: 14px;
    line-height: 12px;
  }
  > * {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
